@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-goldman: 'Goldman', system-ui;
    --font-montserrat: 'Montserrat', sans-serif;

    --animate-new: new 2s ease-in-out 0s 1 normal forwards;
    @keyframes new {
        0% {
            transform: rotate(0deg);
            opacity: 0;
        }
        70% {
            opacity: 0.8;
        }
        100% {
            transform: rotate(180deg);
            opacity: 0;
        }
    }
}

@layer components {
    .full-page {
        @apply h-[calc(100dvh-3rem)] max-h-[calc(100dvh-3rem)] min-h-[calc(100dvh-3rem)] w-dvw max-w-dvw min-w-dvw;
    }

    .target-tl {
        clip-path: polygon(0 0, 12px 0, 12px 2px, 2px 2px, 2px 12px, 0 12px);
    }

    .target-tr {
        clip-path: polygon(
            100% 0,
            100% 12px,
            calc(100% - 2px) 12px,
            calc(100% - 2px) 2px,
            calc(100% - 12px) 2px,
            calc(100% - 12px) 0
        );
    }

    .target-bl {
        clip-path: polygon(
            0 100%,
            12px 100%,
            12px calc(100% - 2px),
            2px calc(100% - 2px),
            2px calc(100% - 12px),
            0 calc(100% - 12px)
        );
    }

    .target-br {
        clip-path: polygon(
            100% 100%,
            100% calc(100% - 12px),
            calc(100% - 2px) calc(100% - 12px),
            calc(100% - 2px) calc(100% - 2px),
            calc(100% - 12px) calc(100% - 2px),
            calc(100% - 12px) 100%
        );
    }
}

@layer base {
    * {
        @apply m-0 box-border p-0 antialiased outline-none! select-none!;
    }

    img,
    video,
    svg {
        @apply block;
    }

    a {
        @apply no-underline;
    }
}
